body {
    font-family: Arial, sans-serif;
}

#formContainer {
    width: 55%;
    float: left;
    margin: auto;
}

#formC {
    width: 100%;
}

.rows {
    width: 100%;
    display: block;
}

.column {
    width: 100%;
    display: inline-block;
}

.labels {
    width: 30%;
    float: left;
}

.inputs {
    width: 45%;
    float: right;
}
